body {
    padding: 0;
    margin: 0;
}

.botao {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

button {
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: lightgray;
    font-weight: bold;
    border: 1px solid;
    cursor: pointer;
}

.container {
    margin: 10px;
    display: flex;
    justify-content: center;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse; /* Remove espaços entre células */
    margin: 20px 0; /* Espaço ao redor da tabela */
    font-size: 18px; /* Tamanho da fonte */
}

/* Estilo das células da tabela */
th, td {
    padding: 12px; /* Espaçamento interno das células */
    text-align: left; /* Alinhamento do texto */
    border-bottom: 1px solid #ddd; /* Linha inferior das células */
}

/* Estilo para os cabeçalhos */
th {
    background-color: #4CAF50; /* Cor de fundo dos cabeçalhos */
    color: white; /* Cor do texto dos cabeçalhos */
}

/* Efeito de hover nas linhas */
tr:hover {
    background-color: #f5f5f5; /* Cor de fundo ao passar o mouse */
}

/* Estilo para linhas alternadas */
tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo para linhas pares */
}

/* Estilo para a tabela em dispositivos menores */
@media screen and (max-width: 600px) {
    table {
        font-size: 14px; /* Reduz o tamanho da fonte em telas menores */
    }
}
